/* Global settings */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

/* Header styles */
header {
  background: linear-gradient(135deg, #96bb99, #76a779);
  /* Vert végétal */
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 100;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.5s ease-in-out;
}

header:hover {
  background: linear-gradient(135deg, #76a779, #96bb99);
}

header .logo {
  max-width: 100px;
  border-radius: 50%;
}

nav {
  flex: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
  position: relative;
}

nav ul li a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  position: relative;
  transition: color 0.4s ease;
}

nav ul li a i {
  margin-right: 8px;
  font-size: 1.2rem;
}

nav ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Styles for burger menu */
.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Section styles */
section {
  padding: 60px;
  text-align: center;
}

/* Section Accueil */
section#accueil {
  background: url("/photos/Piscine/après-piscine2.jpg") no-repeat center
    center/cover;
  background-color: #f4f4f4;
  color: white;
  height: 300px;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  /* Centrer le contenu */
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  color: #fff;
  /* Texte en blanc pour contraster avec l'image */
  margin-bottom: 20px;
}

.cta-button {
  background-color: #76a779;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #609f65;
}

/* Section Services */
#services {
  padding: 60px 20px;
  background-color: #d9cab3;
  /* Beige inspiré de la terre */
}

#services h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.service {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  flex: 1 1 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service i {
  font-size: 2.5rem;
  color: #76a779;
  margin-bottom: 15px;
}

.service h3 {
  font-size: 1.75rem;
  color: #333;
  margin: 10px 0;
}

.service p {
  color: #777;
  font-size: 1.1rem;
  line-height: 1.5;
}

/* Effet au survol des services */
.service:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

/* Section À Propos */
#a-propos {
  padding: 60px 20px;
  background-color: #f5f5f5;
  /* Gris clair pour le thème paysagiste */
}

#a-propos h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.a-propos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* Centrer le texte dans le conteneur */
  margin-bottom: 40px;
  /* Espacement sous le conteneur principal */
}

.a-propos-texte {
  max-width: 800px;
  color: #777;
  font-size: 1.2rem;
  margin-bottom: 20px;
  background-color: #ffffff;
  /* Fond blanc pour mieux se démarquer */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Ombre douce pour une séparation visuelle */
}

.a-propos-image img {
  max-width: 100%;
  border-radius: 8px;
  margin: 20px 0;
  border: 2px solid #ddd;
  /* Bordure légère autour de l'image */
}

.valeurs,
.services {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: lightgray;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  /* Ombre douce pour une séparation visuelle */
}

.valeurs h3,
.services h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
  border-bottom: 2px solid #ddd;
  /* Bordure sous le titre pour plus de séparation */
  padding-bottom: 10px;
  /* Espacement sous le titre */
}

.valeurs ul,
.services ul {
  list-style-type: none;
  padding: 0;
}

.valeurs ul li,
.services ul li {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 10px;
}

.valeurs ul li strong {
  color: #333;
}

/* Section Réalisations */
#projets {
  padding: 40px 20px;
  background-color: #e0f7df;
  /* Un vert doux pour le lien avec la nature */
}

#projets h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
  text-align: center;
}

/* Conteneur des cartes */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Style des cartes */
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  height: 510px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.card h3 {
  font-size: 1.75rem;
  color: #333;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
}

.card p {
  color: #777;
  font-size: 1.1rem;
  margin: 10px 0;
  line-height: 1.5;
  flex-grow: 1;
}

/* CTA button */
.cta-button {
  margin-top: auto;
  padding: 10px 15px;
  background-color: #f7a072;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #218838;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.card:hover img {
  transform: scale(1.1);
}

.card-container a {
  text-decoration: none;
  color: inherit;
}

/* Section Témoignages */
#temoignages {
  padding: 60px 20px;
  background-color: #f5deb3;
  /* Beige sable pour un effet chaleureux */
}

#temoignages h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.testimonial {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.testimonial p {
  font-size: 1.1rem;
  color: #777;
  margin-bottom: 10px;
}

.testimonial h4 {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

/* Section Contact */
#contact {
  padding: 40px 20px;
  text-align: center;
}

#contact h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

#contact p {
  font-size: 1.1rem;
  color: #777;
  margin-bottom: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #333;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus {
  border-color: #76a779;
  outline: none;
}

form textarea {
  height: 150px;
  resize: vertical;
}

form button {
  padding: 15px 30px;
  background-color: #76a779;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #609f65;
}

/* Footer styles */
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  margin: 10px 0;
  font-size: 1rem;
}

/* Social media icons */
.socials {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 10px 0;
}

.socials li {
  margin: 0 10px;
}

.socials li a {
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.socials li a:hover {
  color: #76a779;
}

/* Media Queries */
@media (max-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header .logo {
    margin-bottom: 10px;
  }

  nav ul {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100vh - 60px);
    background-color: rgba(118, 167, 121, 0.9);
    /* Vert avec opacité à 90% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  nav ul.nav-active {
    transform: translateX(0);
  }

  nav ul li {
    margin: 20px 0;
    opacity: 0;
    animation: navLinkFade 0.5s ease forwards;
  }

  nav ul li a {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .burger {
    display: flex;
  }

  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  #contact h2,
  #projets h2 {
    font-size: 2rem;
  }

  form {
    padding: 0 20px;
  }

  form input[type="text"],
  form input[type="email"],
  form textarea {
    font-size: 1rem;
  }

  .socials li a {
    font-size: 1.3rem;
  }

  footer p {
    font-size: 0.9rem;
  }
}

/* Keyframes */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
