@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden; /* Ajout pour éviter les débordements horizontaux */
}

header {
    background: #96BB99;
    color: white;
    padding: 10px 0;
}

header .logo {
    max-width: 150px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* ------------------------------------------------------- */

section {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.grid-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}